@model TicketingSystem.Models.TicketData

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "EntryClose";
}
<!DOCTYPE html>
<h2 class="display-4">Existing Data Entry</h2>
<br />
<br />

<body>
    <partial name="_HeaderNavbar" />

    <form id="entryForm" class="form-horizontal" asp-action="PostEntryClose" asp-controller="Home" onsubmit="return verifyInput()">
        <div class="form-group">
            <label class="control-label col-sm-2" for="jType">Job Type:</label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="JobType.JobName" id="jobType" onchange="updateFields()" disabled>
                    <option value="">Please Select</option>
                    <option value="Pallet Picker">Pallet Picker</option>
                    <option value="Case Picker">Case Picker</option>
                    <option value="Amazon">Amazon</option>
                    <option value="UPS">UPS</option>
                    <option value="Inbound">Inbound</option>
                    <option value="Outbound">Outbound</option>
                    <option value="Stage">Stage</option>
                    <option value="Putaway">Putaway</option>
                    <option value="Pallet Transfer">Pallet Transfer</option>
                    <option value="Restocking WMU">Restocking WMU</option>
                    <option value="Rework">Rework</option>
                    <option value="Swing Load">Swing Load</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select>
            </div>
        </div>
        <div class="form-group" id="entryIdContainer">
            <label class="control-label col-sm-2" for="entryId">Entry ID:</label>
            <div class="col-sm-10">
                <input asp-for="EntryId" type="number" class="form-control" id="entryId" data-attr="default" value="@Model.EntryId" readonly>
            </div>
        </div>
        <div class="form-group" id="tripNoContainer">
            <label class="control-label col-sm-2" for="tripNumber">Trip Number:</label>
            <div class="col-sm-10">
                <input asp-for="TripNum" type="number" class="form-control" id="tripNumber" data-attr="default" value="@Model.TripNum" readonly>
            </div>
        </div>
        <div class="form-group" id="stageNoContainer">
            <label class="control-label col-sm-2" for="stageNumber">Stage Number:</label>
            <div class="col-sm-10">
                <input asp-for="StageNum" type="text" class="form-control" id="stageNumber" data-attr="default" value="@Model.StageNum" readonly>
            </div>
        </div>
        <div class="form-group" id="palletWrapsContainer">
            <div class="col-sm-10" id="palletWrapsInnerContainer">
            </div>
        </div>
        <div class="form-group" id="casesNumberContainer">
            <div class="col-sm-10" id="casesNumberInnerContainer">
            </div>
        </div>
        <div class="form-group" id="trailerNumberContainer">
            <div class="col-sm-10" id="trailerNumberInnerContainer">
            </div>
        </div>
        <div class="form-group" id="carrierContainer">
            <div class="col-sm-10" id="carrierInnerContainer">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="employeeName">Employee Name:</label>
            <div class="col-sm-10">
                <input asp-for="TicketWorker.FullName" type="text" class="form-control" id="employeeName" data-attr="default" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="startDate">Start Date:</label>
            <div class="col-sm-10">
                <input asp-for="StartDate" type="date" class="form-control" id="startDate" value="@string.Format("{0:yyyy-MM-dd}", Model.StartDate)" data-attr="default" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="endDate">End Date:</label>
            <div class="col-sm-10">
                <input asp-for="EndDate" type="date" class="form-control" id="endDate" value="@string.Format("{0:yyyy-MM-dd}", Model.EndDate)" data-attr="default">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="startTime">Start Time:</label>
            <div class="col-sm-10">
                <input asp-for="StartTime" type="time" class="form-control" id="startTime" data-attr="default" value="@Model.StartTime" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="stopTime">Stop Time:</label>
            <div class="col-sm-10">
                <input asp-for="EndTime" type="time" class="form-control" id="endTime" data-attr="default">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="comments">Comments</label>
            <div class="col-sm-10">
                <textarea asp-for="Comments" class="form-control" id="comments" data-attr="default"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn-dark" id="subBtn">Submit</button>
            </div>
        </div>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="~/js/dataEntry.js"></script>

<script>
    $(document).ready(function () {
        document.getElementById('startTime').value = '@Model.StartTime'
    });
</script>
