@model TicketingSystem.Models.TicketData

@{
    ViewData["Title"] = "EditForm";
}

<!DOCTYPE html>
<h2 class="display-4">Edit Form</h2>
<br />
<br />
<body>

    <partial name="_HeaderNavbar" />

    <form id="entryForm" class="form-horizontal" asp-action="PostEdit" asp-controller="Edit" onsubmit="return verifyInput()">
        <div class="form-group">
            <label class="control-label col-sm-2" for="jType">Job Type:</label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="JobType.JobName" id="jobType" onchange="updateFields()">
                    <option value="">Please Select</option>
                    <option value="Pallet Picker">Pallet Picker</option>
                    <option value="Case Picker">Case Picker</option>
                    <option value="Amazon">Amazon</option>
                    <option value="UPS">UPS</option>
                    <option value="Inbound">Inbound</option>
                    <option value="Outbound">Outbound</option>
                    <option value="Stage">Stage</option>
                    <option value="Putaway">Putaway</option>
                    <option value="Pallet Transfer">Pallet Transfer</option>
                    <option value="Restocking WMU">Restocking WMU</option>
                    <option value="Rework">Rework</option>
                    <option value="Swing Load">Swing Load</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="entryIdContainer">
            <label class="control-label col-sm-2" for="entryId">Entry ID:</label>
            <div class="col-sm-10">
                <input asp-for="EntryId" type="number" class="form-control" id="entryId" data-attr="default" value="@Model.EntryId" readonly>
            </div>
        </div>

        <div class="form-group" id="tripNoContainer">
            <label class="control-label col-sm-2" for="tripNumber">Trip Number:</label>
            <div class="col-sm-10">
                <input asp-for="TripNum" type="number" class="form-control" id="tripNumber" data-attr="default">
            </div>
        </div>
        <div class="form-group" id="stageNoContainer">
            <label class="control-label col-sm-2" for="stageNumber">Stage Number:</label>
            <div class="col-sm-10">
                <input asp-for="StageNum" type="text" class="form-control" id="stageNumber" data-attr="default">
            </div>
        </div>

        <div class="form-group" id="palletNumContainer">
            <label class="control-label col-sm-2" for="palletNum">Number of Pallets:</label>
            <div class="col-sm-10">
                <input asp-for="PalletNum" type="number" class="form-control" id="palletNum" data-attr="default">
            </div>
        </div>

        <div class="form-group" id="palletWrapsContainer">
            <div class="col-sm-10" id="palletWrapsInnerContainer">
            </div>
        </div>
        <div class="form-group" id="casesNumberContainer">
            <div class="col-sm-10" id="casesNumberInnerContainer">
            </div>
        </div>
        <div class="form-group" id="trailerNumberContainer">
            <div class="col-sm-10" id="trailerNumberInnerContainer">
            </div>
        </div>
        <div class="form-group" id="carrierContainer">
            <div class="col-sm-10" id="carrierInnerContainer">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="employeeName">Employee Name:</label>
            <div class="col-sm-10">
                <input asp-for="TicketWorker.FullName" type="text" class="form-control" id="employeeName" data-attr="default">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="startTime">Start Time:</label>
            <div class="col-sm-10">
                <input asp-for="StartTime" type="time" class="form-control" id="startTime" data-attr="default">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="endTime">End Time:</label>
            <div class="col-sm-10">
                <input asp-for="EndTime" type="time" class="form-control" id="endTime" data-attr="default">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="isClosed">Ticket Closed</label>
            <div class="col-sm-10">
                <input asp-for="TicketClosed" type="checkbox" id="isClosed" data-attr="default">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="comments">Comments</label>
            <div class="col-sm-10">
                <textarea asp-for="Comments" class="form-control" id="comments" data-attr="default"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn-dark" id="subBtn">Submit</button>
                &nbsp;
                <button type="reset" class="btn-dark" id="resetBtn">Reset Form</button>
                &nbsp;

            </div>
        </div>
    </form>
    <div class="col-sm-offset-2 col-sm-10">

        <button class="btn-danger" id="deleteBtn" onclick="deleteEntry()">Delete Entry</button>
    </div>

<br />
<br />
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="~/js/dataEntry.js"></script>

<script>
    $(document).ready(function () {
        @{ 
            var startTime = Model.StartTime.TimeOfDay;
            DateTime end = (DateTime)Model.EndTime;
            var endTime = end.TimeOfDay;
        }
        document.getElementById('startTime').value = '@Model.StartTime.TimeOfDay'
        document.getElementById('endTime').value = '@(((DateTime)Model.EndTime).TimeOfDay)'

    });
</script>

<script>
    function deleteEntry() {
        	$.ajax({
			type: "DELETE",
			url: '@Url.Action("RemoveEntry", "Edit")',
			data: { entryID: @Model.EntryId},
            success: function () {
                alert('This entry was successfully deleted')
			},
			error: function (e) {
				alert('Error in ajax reqest')
				console.log(e)
			}
		}).done(function (data) {
			window.location.replace(data.newUrl)
		})
    }
</script>

