@model TicketingSystem.Models.Users

@{
    ViewData["Title"] = "UserEdit";
}

<!DOCTYPE html>
<h2 class="display-4">Edit User</h2>
<br />
<br />
<body>

    <partial name="_HeaderNavbar" />

    <div>
        <partial name="_HeaderNavbar" />
        <div>
            <h2>Edit Existing User</h2>

            <form id="entryForm" class="form-horizontal" onsubmit="postForm()">

                <div class="form-group">

                    <div class="form-group" id="entryIdContainer">
                        <label class="control-label col-sm-2" for="userId">User ID:</label>
                        <div class="col-sm-10">
                            <input asp-for="UserId" name="UserId" type="number" class="form-control" id="userId" value="@Model.UserId" readonly>
                        </div>
                    </div>

                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" name="Email" type="email" class="form-control" id="email" readonly>
                    </div>
                </div>

                <div class="form-group">

                    <label class="control-label col-sm-2" for="fullName">Full Name:</label>
                    <div class="col-sm-10">
                        <input asp-for="FullName" name="FullName" type="text" class="form-control" id="fullName" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="isActive">Is Active:</label>
                    <div class="col-sm-10">
                        <input name="IsActive" type="checkbox" id="isActive">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="shiftType">Shift Type:</label>
                    <div class="col-sm-10">
                        <select asp-for="ShiftType" class="form-control" name="ShiftType" id="shiftType">
                            <option value="">Please Select</option>
                            <option value="Office Worker">Office Worker</option>
                            <option value="Accounting">Accounting</option>
                            <option value="Warehouse">Warehouse</option>
                            <option value="Management">Management</option>
                            <option value="Administrator">Administrator</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn-dark" id="subBtn">Submit</button>
                        &nbsp;
                        <button type="reset" class="btn-dark" id="resetBtn">Reset Form</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn-danger" id="deleteBtn" onclick="deleteUser()">Delete User</button>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn-warning" id="changePassword" onclick="changePassword(@Model.UserId)">Change User's password</button>
        </div>
    </div>

        <br />
        <br />
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        //fix the isActive check box
        var active = "@Model.IsActive" ? "True" : true
        $("#isActive").prop("checked", active)
    });

    function deleteUser() {
        $.ajax({
			type: "DELETE",
			url: '@Url.Action("DeleteUser", "Account")',
			data: { userId: @Model.UserId},
            success: function () {
                alert('This user was successfully deleted')
			},
			error: function (e) {
				alert('Error in ajax reqest')
				console.log(e)
			}
		}).done(function (data) {
			window.location.replace(data.newUrl)
		})
    }

    @*function postForm() {
        var userId = $('#userId').val();
        var name = $('#fullName').val();
        var email = $('#email').val();
        var isActive = $('#isActive').prop("checked");
        var shiftType = $('#shiftType').val();

        $.ajax({
			type: "POST",
			url: '@Url.Action("PostEdit", "Account")',
            data: {
                "UserId": userId,
                "FullName": name,
                "Email": email,
                "ShiftType": shiftType,
                "IsActive": isActive
            },
            success: function () {
			},
			error: function (e) {
				alert('Error in ajax reqest')
				console.log(e)
			}
        }).done(function (data) {
            console.log(data)
            console.log(data.newUrl)
            if (data.message != null) {
                alert(data.message += ": Error Code - " + data.guid)
            }
            else {
                alert('The user was successfully updated')
            }
			window.location.replace(data.newUrl)
		})
    }*@


</script>



